!
! Zebra configuration saved from vty
!   2020/06/09 21:57:21
!
hostname {{ hostname_r3 }}
!
interface eth0
 ipv6 nd suppress-ra
!
interface eth1
 ipv6 nd suppress-ra
!
interface eth2
 ipv6 nd suppress-ra
!
interface lo
!
ip forwarding
!
!
line vty
!