!
! Zebra configuration saved from vty
!   2020/06/09 18:34:05
!
hostname {{ hostname_r2 }}
!
interface eth0
 ipv6 nd suppress-ra
!
interface eth1
 ipv6 nd suppress-ra
!
interface eth2
 ipv6 nd suppress-ra
!
interface lo
!
ip forwarding
!
!
line vty
!